/* Styles généraux */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  /* Header */
  header {
    background: rgba(255, 255, 255, 0.937);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  header .container {
    max-width: 1200px;
  }
  
  header h1 {
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  header h1:hover {
    color: #28a745;
  }
  
  /* Navigation */
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  

  /* Slider */
  .slider-container {
    position: relative;
    width: 100%;
    height: 95vh;
  }
  
  .slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    

  }
  
  .slider-container .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  
  /* Pagination */
  .pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .pagination div {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s;
  }
  
  .pagination div.active {
    opacity: 1;
    transform: scale(1.2);
    background: #007bff;
  }
  